@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-bg {
  background-image: url("./assets/wb_1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.MuiInputBase-root{
  padding-right:0!important;
}

@layer components{
  iframe {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
  
  iframe::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

  .clipPath{
    clip-path: circle(100% at 0 100px);
  }

}